body {
    margin: 0;
    padding: 0;
    background-color: #fff2ea;
    height: 100vh;
}
h2,p,h3,ul{
    font-family: 'Poppins', sans-serif;
}
img{
    border-radius: 30px;
    border: 2px solid black;
}
hr{
    width: 95%;
    background-color: black;
    height: 2px;
}
.healer {
    font-family: "Cookie", cursive !important;
    text-transform: capitalize !important;
    letter-spacing: 1px;
}
/* Nevigation Bar */
.navigation {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 2rem;
}
.navigation ul {
    display: flex;
    font-family: "Bebas Neue", cursive;
}
.navigation ul li {
    list-style: none;
    padding: 4px;
}
.navigation ul li a {
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.text{
    width: 75%;
    min-height: 200px;
}
img{
    height: 15%;
    width: 15%;
}